.abstentionsMenu {
    -fx-background-color: #D9D9D9;
    -fx-font-family: "Segoe UI";
    -fx-font-size: 15;
    -fx-background-radius: 6;
}
.abstentionsMenu :hover {
    /* Vorrei che si apra il menu */
}