.abstentionsMenu {
    -fx-background-color: #d9d9d9;
    -fx-font-family: "Segoe UI";
    -fx-font-size: 15;
    -fx-background-radius: 6;
}
.abstentionsMenu:hover {
    /* Vorrei che si apra il menu */
}
.menu-item {
    -fx-background-color: #d9d9d9;
    -fx-pref-height: 46px;
    -fx-background-radius: 6px;
    -fx-text-fill: black;
}
.menu-item:focused {
    -fx-background-color: #707070;
}
.context-menu {
    -fx-pref-width: 128px;
    -fx-pref-height: 266px;
    -fx-background-color: #BEBEBE;
    -fx-background-radius: 6px;
}